body {
  width: 1600px;
  margin: auto;
  background-color: black;
  line-height: 1.6;
  letter-spacing: -3px;
  font-weight: 335;
  font-family: "Josefin Sans", sans-serif;
  
  
  position: relative;
}

#nav {
  display: flex;
  justify-content: center;
  background-color: #222;
  
  
  position: fixed;
  width: 1600px; 
  top: -50px;
  z-index: 10;
}

#nav div {
  color: white;
  margin: 0;
  font-size: 65px;
  padding: 40px 40px 40px 40px;
}

#header {
  height: 900px;
  display: flex;
  flex-direction: row;
  background-color: white;
  
  
  margin-top: 135px;
}

#leftSideHeader {
  position: relative;
}

#leftSideHeader h1 {
  position: absolute;
  font-family: "Abril Fatface", cursive;
  color: #222;
  letter-spacing: 0px;
  font-size: 70px;
  font-weight: lighter;
  line-height: 1;
  z-index: 2;
  bottom: 60px;
  left: 110px;
}

img {
  width: 670px;
  height: 960px;
  object-fit: cover;
  object-position: -510px -60px;
  opacity: 55%;
  filter: brightness(75%) saturate(110%) contrast(260%);
}

#bio {
  font-size: 38px;
  font-weight: 361;
  letter-spacing: -1px;
  padding: 30px 105px 45px 45px;
  background-image: linear-gradient(brown, orange);
}

ul {
  list-style-type: square;
  margin-left: 30px;
}

main {
  background-image: linear-gradient(orange, BurlyWood, lightYellow);
/*   background-color: white; */
  display: flex;
  flex-direction: row;
  letter-spacing: 0px;
}

#blockquote {
max-width: 670px;
  height: 4600px;
display: flex;
  flex-direction: column;
  font-family: "Abril Fatface", cursive;
  font-size: 100px;
  justify-content: space-between;
}

.bq {
  background-color: #222;
  color: white;
  padding: 85px 85px 85px 95px;
  position: relative;
  }

#one, #two, #achieveExperienceTraining, #training {
  margin-top: 120px;
}

#achieveExperienceTraining {
  max-height: 4300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 140px 0px 30px;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -2px;
}

.uppercase {
  text-transform: uppercase;
padding: 60px 0px 60px 0px;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: normal;
}

h3 {
  font-family: "Merriweather", serif;
  font-style: italic;
  margin-top: 0;
}

.section {
  margin-bottom: 0;
  font-size: 50px;
}

#experience {
  padding-bottom: 15px;
}


div#training {
  margin-bottom: 60px;
}

h2.uppercase.formal {
  padding-top: 0;
}

#achieveExperienceTraining p {
  padding-right: 45px;
}

q::before {
  content: '\201C';
  position: absolute;
  top: -115px;
  left: 0;
  font-size: 280px;
}



