.containerone {
  display: flex;
  list-style: none;
  background-color: #ffd62a;
  height: 150px;
  width: 400px;
  padding: 0;
  margin: 0;
}

.containertwo {
  display: flex;
  align-items: center;
  list-style: none;
  background-color: #ffd62a;
  height: 150px;
  width: 400px;
  padding: 0;
  margin: 0;
}

.containerthree {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: #ffd62a;
  height: 150px;
  width: 400px;
  padding: 0;
  margin: 0;
}

.containerfour {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  list-style: none;
  background-color: #ffd62a;
  height: 150px;
  width: 400px;
  padding: 0;
  margin: 0;
}

.item.purple {
  width: 50px;
  height: 50px;
  background-color: #b02afe;
  margin-right: 5px;
}

.item.purple2 {
  width: 50px;
  height: 50px;
  background-color: #b02afe;
}

.item.purple3 {
  width: 50px;
  height: 50px;
  background-color: #b02afe;
  margin-left: 5px;
}

p {
  border-top: solid 2px grey;
  padding-top: 2px;
}
