body {
  text-align: center;
  color: white;
  font-family: 'Indie Flower', cursive;;
  font-size: 24px;
  font-weight: bold;
}

h3 {
  margin: 0 auto;
}

div {
  width: 300px;
  border: solid 5px #4285f4;
}

.north {
  background-color: salmon;
  padding: 40px;
}

.east {
  background-color: yellow;
  padding: 40px;
}

.south {
  background-color: blue;
  padding: 40px;
}

.west {
  background-color: skyBlue;
  padding: 40px;
 }